// Variables globales
$font-family-base: 'Montserrat', sans-serif; // Tipografía base
$primary-color: #343a40; // Color oscuro principal
$secondary-color: #6b6b6b; // Color secundario
$accent-color: #ffc107; // Color de acento para hover
$background-color-body: #e9e9e9; // Color de fondo del cuerpo
$text-color: #ffffff; // Color de texto
$hero-background-image: url('../Fixtures/mauri2.png'); // Imagen de fondo para la sección hero
$genetic-background-image: url('../Fixtures/toroexpo1.jpg'); // Imagen de fondo para la sección genética
$footer-background-color: #a7a7a7; // Color de fondo del footer

// Estilo general
body {
  background-color: $background-color-body;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: $font-family-base;
  margin: 0;
  padding: 0;
  color: $text-color;
}

// Navbar
.navbar {
  background-color: $primary-color; // Color oscuro
}

.navbar .navbar-brand {
  font-size: 1.5rem;
  color: #f8f9fa; // Texto blanco
}

.navbar .nav-link {
  color: #f8f9fa; // Texto blanco
  padding: 0.8rem;

  &:hover {
    color: $accent-color; // Amarillo al pasar el mouse
  }
}

// Sección Hero
.hero {
  background-image: $hero-background-image;
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; // Para la superposición

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); // Superposición oscura
    z-index: 1; // Mantener debajo del texto
  }

  .texto-hero {
    position: relative; // Para posicionar encima de la superposición
    z-index: 2; // Mantener encima de la superposición
    color: #fff; // Color del texto
    text-align: center;

    h1 {
      font-size: 3rem; // Aumentar tamaño del título
      margin-bottom: 10px; // Espacio debajo del título
      text-shadow: 2px 2px 4px rgba(233, 233, 233, 0.7); // Sombra para el título
    }

    p {
      font-size: 1.5rem; // Tamaño del texto
    }

    a {
      margin-top: 20px;
      padding: 10px 20px; // Relleno para el botón
      background-color: $primary-color; // Color de fondo del botón
      color: #b8b8b8; // Color del texto del botón
      border-radius: 5px; // Bordes redondeados del botón
      text-decoration: none; // Sin subrayado
      font-weight: bold; // Negrita para el texto del botón

      &:hover {
        background-color: #ffffff; // Color al pasar el mouse
      }
    }
  }
}

// Sección de Estancias y Genética
.seccion-estancias,
.seccion-genetica {
  background-image: url('../Fixtures/fondoestablecimiento.jpg'); // Cambia la ruta a tu imagen de fondo
  background-size: cover; // Asegura que la imagen cubra toda la sección
  background-position: center; // Centra la imagen de fondo
  background-repeat: no-repeat; // Evita que la imagen se repita

  h2 {
    margin-bottom: 30px;
    background-color: rgba(167, 167, 167, 0.7); // Fondo semi-transparente
    padding: 15px; // Relleno alrededor del texto
    border-radius: 10px; // Bordes redondeados
    font-size: 2rem; // Aumentar tamaño del texto
    color: #fff; // Color del texto blanco
    text-shadow: 1px 1px 2px rgba(168, 168, 168, 0.5); // Sombra para mayor contraste
  }

  img {
    border-radius: 10px; // Bordes redondeados más sutiles
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2); // Sombra para las imágenes
    width: 500px; // Aumenta el ancho inicial
    height: 250px; // Aumenta la altura inicial
    margin-bottom: 100px;
    transition: transform 0.3s ease-in-out; // Transición para la animación
    transform: scale(1.1); // Establecer el tamaño inicial un poco más grande
  }

  img:hover {
    transform: scale(1.2); // Escalar imagen al pasar el mouse
  }
}

// Sección de Genética
.seccion-genetica {
  background-image: $genetic-background-image; // Imagen de fondo
  background-size: cover;
  background-position: center;
  position: relative; // Para la superposición
  color: white; // Color del texto
  padding: 50px 0;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); // Superposición oscura
    z-index: 1; // Mantener debajo del texto
  }

  .contenedor {
    position: relative; // Para posicionar encima de la superposición
    z-index: 2; // Mantener encima de la superposición
    text-align: center; // Centrar texto

    h2 {
      font-size: 2.5rem; // Tamaño del título
      margin-bottom: 20px; // Espacio debajo del título
      text-shadow: 1px 1px 2px rgb(255, 255, 255); // Sombra para el título
    }

    p {
      font-size: 1.2rem; // Tamaño del texto
      margin-bottom: 30px; // Espacio debajo del párrafo
    }
  }
}

// Sección de Contacto
.seccion-contacto {
  background-color: $primary-color;
  color: white;

  p {
    margin: 0;
  }
}

// Pie de Página
footer {
  background-color: $footer-background-color;
  padding: 20px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 14px;

  a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
  }
}
